<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   
      <div class="bg-img"><div class="container">
         <div class="topnav">
            <a href="#portfolio">Portfolio</a>
            <a href="#learning">Learning</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
         </div>
      </div>
     
      
   </div>
   



</head>

<body>
  

      <h2>Enums in Thymeleaf</h2>
   <h2>Hello from 'templates/templates-2'</h2>
   <div class="portfolio" title="Details">

      <form action="/action_page.php" method="get">
         <label for="fname">First name:</label>
         <input type="text" id="fname" name="fname"><br><br>
         <label for="lname">Last name:</label>
         <input type="text" id="lname" name="lname"><br><br>
         <input type="submit" value="Submit">

         <button type="button" th:onclick="doStuffMethod()"> Hello</button>
      </form>
   </div>

   <div class="portfolio1" title="Details">

      <form action="/action_page.php" method="get">
         <label for="fname">fname</label>
         <label for="lname">lname</label>

      </form>
   </div>
   </div>
   
   





</body>

</html>